.env
venv
.venv
__pycache__

*.txtS
*.wav
*.json
*.log
*.pdf
evaluation/deberta_runs/
evaluation/eval_outputs
evaluation/topic_eval_outputs
downloads/
.idea
*.mp4
*.srt
*.env

.vscode
.github
*.sqlite